header {
  height: 85px;
  z-index: 99;
  box-shadow: 0 0 10px #0006;
}
.bg-body-tertiary {
  height: 85px;
  background-color: #fff !important;
  margin: 0 auto;
  padding: 0px 30px;
}
.navbar-brand img {
  max-width: 80%;
}
.nav-link {
  margin: 0px 10px;
  font-size: 15px;
}
.menu-link {
  color: #62626f;
  text-decoration: none;
}
.menu-link:hover {
  color: #fe8402;
}
.menu-link.active {
  color: #fe8402 !important;
}
.sign-in-btn {
  width: 200px;
  font-size: 1.1rem;
  font-weight: 600;
  background-color: #516cf0 !important;
}
.sign-in-link {
  color: #fff;
  text-decoration: none;
  font-weight: 700;
}
.sign-in-btn:hover {
  background-color: #fe8402 !important;
  border-color: #fe8402 !important;
}
/*  */
.navbar-toggler {
  border: none;
}
/* deactivate the property of toggler when clicked*/
.navbar {
  --bs-navbar-toggler-focus-width: 0px;
}
/* To align the nav links to the right side when the toggler is clicked  */
@media (max-width: 991px) {
  .navbar-nav {
    align-items: end;
    background-color: #eaeaea;
    border-radius: 5px;
    padding: 10px;
  }
}
